.navigation-bar {
    padding: 10px 0;
  }
  
  .nav {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .nav-link {
    color: #000 ;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #d9230f!important ; /* Colore rosso per hover */
    border-bottom: 2px solid #d9230f;
  }
  
  .nav-link.active {
    color: #d9230f!important; /* Colore rosso per il link attivo */
    border-bottom: 2px solid #d9230f;
  }
  
  /* Nascondi la sidebar su schermi piccoli */
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  
    .navigation-bar {
      display: block;
    }
  }
  
  /* Nascondi la barra orizzontale su schermi grandi */
  @media (min-width: 769px) {
    .navigation-bar {
      display: none;
    }
  }
  

  .nav-link.text-dark:hover {
    color: #d9230f !important;
    border-bottom: 2px solid #d9230f;
  }