/* Navbar.css */

.navbar {
    font-size: 1
    12px;
    font-weight: 400;
  }
  i{
    font-size: 12px;
  }
  .nav-link {
    color: #e5e5e5 !important;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ffffff !important;
  }
  
  .navbar-brand img {
    max-height: 90x;
  }
 
  .dropdown-menu {
    background-color: #141414;
    border: none;
    font-size: 12px;
  }
  
  .dropdown-item {
    color: #e5e5e5;
  }
  
  .dropdown-item:hover {
    color: #ffffff;
    background-color: transparent;
  }
  
  .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }
  .form-control {
    font-size: 12px !important;
  }